/* ABOUT PAGE */
body#about {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

p {
	color: #fff;
}

.about-bg {
	position: absolute;
	margin: 0 auto;
}

.about-row {
	padding-left: 0;
	padding-right: 0;
}

.about-page {
}


.about-title {
	padding: 0px;
	text-align: center;
	margin-top: 150px;
}


/* about me*/
#me {
	margin-top: 120px;
}

#me-img {
   padding: 0px 0px 10px 0px;
       margin: 0 auto!important;
}

@media screen and (max-width: 480px) {
	#me {
	margin-top: 50px;
   }
}

#about-section {
    background: rgba(140,140,140,0.5); 
}

#about-text {
   text-transform: uppercase;
}




#bio {
	
}

.fa-coffee {
}

#motto {
  text-align: center;
}

.connect-link {
  font-weight: bold;
  text-transform: uppercase;
}
