/* ABOUT PAGE */
body#about {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Economica', sans-serif;
	color: #fff;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

.about-bg {
	position: absolute;
	margin: 0 auto;
}

.about-row {
	padding-left: 0;
	padding-right: 0;
}

.about-page {
}


.about-title {
	padding: 0px;
	text-align: center;
	margin-top: 150px;
}


/* about me*/
#me {
	margin-top: 150px;
}

#bio {
	
}
