#rotator {
	visibility: hidden;
}



@media (min-width: 768px) { 
	#rotator {
	visibility: visible;
	text-align: center;
	margin-top: 10px;
	padding-left: 100px;
	position: fixed;
        z-index: -1;
	}

	#rotator h1 {
	font-size: 3em;
	text-transform: uppercase;
	}
 }

@media (min-width: 1200px) { 
	#rotator {
	visibility: visible;
	margin-top: 4px;
	padding-left: 20px;
	}

	#rotator h1 {
	font-size: 3.8em;
	}
 }
