#svg-logo {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

svg {
    margin-top: -275px;
    margin-left: 4px;
    width: 110px;
    padding: 0;
    position: fixed;
}

.logo-button {
  background: red;
}

@media screen and (min-width: 1200px) {
  svg {
    margin-top: -275px;
    margin-left: 4px;
    width: 110px;
 }
}

@media screen and (max-width: 768px) {
  svg {
    margin-top: -275px;
    margin-left: 4px;
    width: 110px;
 }
}
