#svg-logo {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

svg {
    margin-top: -240px;
    margin-left: 25px;
    padding: 0;
    min-width: 40%;
    position: fixed;
}

@media screen and (min-width: 1200px) {
  svg {
    margin-top: -240px;
    margin-left: 25px;
    padding: 0;
    max-width: 9%;
    position: fixed;
 }
}
