body {
	background: #000;
	overflow-x: hidden;
	padding-top: 105px;
	font-family: 'Droid Sans', sans-serif;
	color: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');


h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

h1 {
    text-transform: uppercase;
}

p {
	font-family: 'Droid Sans', sans-serif;
	color: #fff;
}

ul li {
	list-style: none;
}

a {
	color: #fff!important;
}

a:hover {
	color: #8c8c8c!important;
	text-decoration: none!important;
}

a:visited {
	color: #fff;
	text-decoration: none;
}

/* NAV SECTION */

.navbar-brand {
	padding: 10px 10px;
}

#logo-image {
	padding: 0px;
}

#world {
	position: absolute;
	z-index: -2;
	top: 0;
        left: 0;
}

/* MODAL MENU */

.menu-button {
	position: absolute;
	float: left;
	margin: 32px 10px 10px 49px;
}

button.close {
    float: right;
    position: relative;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    filter: alpha(opacity=20);
    opacity: 0.5;
    padding: 10px;
    background-color: #000;
}

.btn-default {
	background: rgba(0,0,0,0.1);
	color: #fff;
	border: #000;
	border-radius: 0px;
}

.btn-default:hover {
	background: #8c8c8c;
	color: #000;
	border: #8c8c8c;
	border-radius: 0px;
}

.btn-default:focus {
	background: rgba(0,0,0,0.1);
	color: #fff;
	border: #8c8c8c!important;
	border-radius: 0px!important;
}


.close:hover {
    color: #636363;
    filter: alpha(opacity=20);
    opacity: 1;
}

@media (min-width: 768px) { 
	.menu-button {
		position: absolute;
		float: left;
		margin: 32px 10px 10px 34px;
	}
		
}

@media (min-width: 992px) { 
	.menu-button {
		position: absolute;
		float: left;
	        margin: 32px 10px 10px 34px;
	}

}

@media (min-width: 1200px) { 
	.menu-button {
		position: absolute;
		float: left;
		margin: 32px 10px 10px 34px;
	}

}


#menu {
    padding: 10px;
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    list-style: none;
}

#menu li {
    padding: 10px;
}

/* unvisited link */
a.menu-link:link {
    color: #fff;
    text-decoration: none;
   font-family: 'Roboto', sans-serif;
}

/* visited link */
a.menu-link:visited {
    color: #fff;
    text-decoration: none;
}

/* mouse over link */
a.menu-link:hover {
    color: #000!important;
    text-decoration: none;
    background: #fff;
    padding: 15px 30px 15px 30px;
}

/* selected link */
a.menu-link:active {
    color: #8c8c8c;
    text-decoration: none;
}

@media (min-width: 768px) { 
	#menu {
	    padding: 10px;
	    font-size: 1.8em;
	}	

	#menu li {
           padding: 10px;
	}
}

@media (min-width: 992px) { 
	#menu {
	    padding: 10px;
	    font-size: 1.8em;
	}	

	#menu li {
            padding: 10px;
	}
}

@media (min-width: 1200px) { 
	#menu {
	    padding: 10px;
	    font-size: 1.8em;
	}	

	#menu li {
            padding: 10px;
	}
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: #000;
}
.modal-fullscreen .modal-content {
  background: #000;
  border: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: using Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

@media screen and (max-width: 1920px){
    .navbar-new {
	    background-color: #000;
	    border-color: #fff;
    }

    .navbar-collapse{
        background:#000; 
    }
    .navbar-collapse.collapse{
        display: none!important;
        height: 0!important;
        padding-bottom: 0;
        overflow: hidden!important;
    }
    .navbar-toggle.collapsed{
        display:block!important;    
    }
    .navbar-toggle{
        display:block!important;    
    }
    .navbar-collapse.collapse.in{
        display:block!important;    
        height:auto!important;
        overflow:visible!important;
    }
    .navbar-nav>li,.navbar-header{
        float:none; 
    }
    .navbar-default .navbar-toggle.collapsed{
        background:#fff;    
    }
}

#navbar1 {
	margin-top: 135px;
}
.navbar {
    border-radius: 0;
    background: #000;
    height: 110px;
}

.navbar-new {
    background-color: #000;
    border-color: #fff;
}

.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
    color: #fff;
}

.navbar-new .navbar-nav > li > a {
    color: #fff;
    background-color: #000;
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
    background-color: #5f646d;
}

.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #5f646d;
}

.navbar-new .navbar-text {
    color: #fff;
}

.navbar-new .navbar-toggle {
    border-color: #fff;
    background: #000;
}

.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
    background-color: #5f646d;
}

.navbar-new .navbar-toggle .icon-bar {
    background-color: #fff;
}

.menu {
}

.collapse navbar-collapse {
	overflow: hidden;
}

.navbar .navbar-collapse {
  text-align: center;
}

/**MAIN CONTENT**/


	/* CASE STUDIES DIV */
	.case-studies {
		background: url(https://res.cloudinary.com/ksassets/image/upload/v1485758543/case_studies_bg_bdb7u9.png) no-repeat center center scroll;
		background-size: cover;
		max-width: 100%;
	        margin-top: -15px;
	}

	.case-studies:hover {
		background: rgba(255,255,255,0.2);

	}

	@media (min-width: 1200px) {
		.case-studies {
			padding: 50px;
		}
	}

	@media (min-width: 992px) {
		.case-studies {
			padding: 50px;
		}
	}

	.link-button {
		position: relative;
		margin: 0 auto;
		padding: 60px;
	}

	.about {
		background: url(https://res.cloudinary.com/ksassets/image/upload/v1485721296/about_bg_fwvdtd.png) no-repeat center center scroll;
		background-size: cover;
	}

	.work {
		background: url(https://res.cloudinary.com/ksassets/image/upload/v1485717873/work_bg_gfsxf7.png) no-repeat center center scroll;
		background-size: cover;
	}

	.connect {
		background: url(https://res.cloudinary.com/ksassets/image/upload/v1485717828/connect_bg_e7a93x.png) no-repeat center center scroll;
		background-size: cover;
	}

	.about, .work, .connect {
		max-width: 100%;
	        margin-top: 30px;
	}
  
	#work-page {
           margin-top: -15px;
	}
       
       #work-page:hover {
          
       }

     @media screen and (max-width: 992px) {
	     .about, .work, .connect {
		    max-width: 100%;
		    margin-top: -15px;
        }
	     
}

	.about:hover, .work:hover, .connect:hover {
		background: rgba(255,255,255,0.2);
	}

h1.cs-home-link, h1.about-home-link, h1.work-home-link, h1.connect-home-link {
	text-align: center;
	padding: 50px;
}

/**END MAIN CONTENT**/

/**FOOTER SECTION**/

.home-row, .work-row, .cs-row, .about-row {
	padding-bottom: 95px;
}

@media screen and (min-width: 768px) {
  .home-row {
    margin-top: 100px;
  }
}

#footer-section {
	background: url(https://res.cloudinary.com/ksassets/image/upload/v1485721379/static_ajfkh3.gif) no-repeat center center scroll;
	background-size: cover;
	-webkit-filter: brightness(75%); /* Safari 6.0 - 9.0 */
    filter: brightness(75%);
	height: 10%;
}

.copyright {
	margin-top: 60px;
	text-align: center;
}


.social {
	margin-top: -65px;
	text-align: center;
	padding: 0;
}

.social-icon {
	font-size: 2em!important;
}

.social > li {
	display: inline-block;
}

.fa-instagram, .fa-linkedin, .fa-github, .fa-codepen {
	color: #8c8c8c!important;
}

.fa-instagram:hover, .fa-linkedin:hover, .fa-github:hover, .fa-codepen:hover {
	color: #fff!important;
}



/* WORK PAGE */
body#work {
	
}



.work-title {
	background: url(https://res.cloudinary.com/ksassets/image/upload/v1485717873/work_bg_gfsxf7.png) no-repeat center center scroll;
	background-size: cover;


}

.work-bg {
	position: relative;
	margin: 0 auto;
	padding: 100px;
}

.work-row {
	padding-left: 0;
	padding-right: 0;
}

.portfolio {
    margin-top: 30px;
    padding-top: 20%;
    padding-bottom: 20%;
    opacity: 0.7;
    border: 7px solid #636363;
    
}

.portfolio:hover {
	opacity: 1;
	border: 7px solid #636363;
}


/* PORTFOLIO ITEMS */
#item1 {
	background: url(https://res.cloudinary.com/ksassets/image/upload/v1485229326/Blue-Dozen-Design-Home-600_srac8e.png) no-repeat center center scroll;
	background-size: cover;
}

#item2 {
	background: url(https://res.cloudinary.com/ksassets/image/upload/v1485226253/point_global_logistics-home-600_zmfb0b.png) no-repeat center center scroll;
	background-size: cover;
}

#item3 {
	background: url(https://res.cloudinary.com/ksassets/image/upload/v1485226255/ultra-coffeebar-home-600_gcy6rh.png) no-repeat center center scroll;
	background-size: cover;
}

#item4 {
	background: url(https://res.cloudinary.com/ksassets/image/upload/v1485226252/Home-Occult-Lab-600_gvyxsw.png) no-repeat center center scroll;
	background-size: cover;
}

#item5 {
	background: url(https://res.cloudinary.com/ksassets/image/upload/v1485229637/asheville_vapor-home-600_pwiuqh.png) no-repeat center center scroll;
	background-size: cover;
}

#item6 {
	background: url(https://res.cloudinary.com/ksassets/image/upload/v1485229637/asheville_vapor-home-600_pwiuqh.png) no-repeat center center scroll;
	background-size: cover;
}

#item7 {
	background: url(https://res.cloudinary.com/ksassets/image/upload/v1485717845/fc-home_rddynk.png) no-repeat center center scroll;
	background-size: cover;
}

#item8 {
	background: url(../img/av-home.png) no-repeat center center scroll;
	background-size: cover;
}

#item9 {
	background: url(../img/mch_farm-home.png) no-repeat center center scroll;
	background-size: cover;
}

#item10 {
	background: url(../img/sc-home.png) no-repeat center center scroll;
	background-size: cover;
}

#item11 {
	background: url(../img/sb-home.png) no-repeat center center scroll;
	background-size: cover;
}

#item12 {
	background: url(../img/mts-home.png) no-repeat center center scroll;
	background-size: cover;
}

#item13 {
	background: url(../img/studiothree-home.png) no-repeat center center scroll;
	background-size: cover;
}

#item14 {
	background: url(../img/pp-home.png) no-repeat center center scroll;
	background-size: cover;
}

#item15 {
	background: url(../img/ws-home.png) no-repeat center center scroll;
	background-size: cover;
}

#item16 {
	background: url(../img/cnx-home.png) no-repeat center center scroll;
	background-size: cover;
}

